<div class="modal_close_but">+</div>
<div class="modal_header">{% if data and data.id %}Редактирование записи{% else %}Новая запись{% endif %}</div>
<div class="modal_inputs">
        {# current id #}
        <input type="hidden" formdata="curr_id" value="{% if data.id %}{{ data.id }}{% endif %}">
        <label class="inputs_cont">
                <span>Название<font class="required">*</font></span>
                <input type="text" formdata="name" data-required="required" value="{% if data.name %}{{ data.name }}{% endif %}">
        </label>
        {# short entry text #}
        <label class="inputs_cont">
                <span>Вступление (краткий текст)</span>
                <textarea formdata="short_content">{% if data.short_content %}{{ data.short_content }}{% endif %}</textarea>
        </label>
        {# main photo #}
        <label class="inputs_cont">
                <span>Главное изображение<font class="required">*</font></span>
                <input type="text" formdata="main_img" data-required="required" value="{% if data.main_img %}{{ data.main_img }}{% endif %}">
        </label>
        {# photolist #}
        <div formelem="photolist" onclick="user_imgs.open_form();">Выбрать изображения для вставки...</div>
        {# post body #}
        <label class="inputs_cont">
                <span>Содержание</span>
                {#<textarea formdata="main_content" class="post_content">{% if data.content.main %}{{ data.content.main }}{% endif %}</textarea>#}
                <textarea formdata="main_content" class="post_content">
                        {% if data.path %} {% include data.path~'main_content.html' %} {% endif %}
                </textarea>
        </label>
        {# secret post body #}
        {#<label class="inputs_cont">
                <span>Скрытое содержание</span>
                <textarea formdata="main_content" class="post_content">{% if data.content.main %}{{ data.content.main }}{% endif %}</textarea>
        </label>#}
</div>
<button onclick="posts.save(this);">Сохранить</button>