<div class="modal_close_but">+</div>
<div class="modal_header">Настройки</div>
<div class="modal_inputs">
        {# current id #}
        <input type="hidden" formdata="curr_id" value="{{ data.id }}">
        <label class="inputs_cont">
                <span>Имя<font class="required">*</font></span>
                <input type="text" formdata="name" data-required="required" value="{% if data.settings.name %}{{ data.settings.name }}{% endif %}">
        </label>
        {# main photo #}
        <label class="inputs_cont">
                <div class="show_imgs_button" onclick="user_imgs.open_form();"><i class="fa fa-picture-o" aria-hidden="true"></i><font>менеджер изображений</font></div>
                <span>Фото<font class="required">*</font></span>
                <input type="text" formdata="photo" data-required="required" value="{% if data.settings.photo %}{{ data.settings.photo }}{% endif %}">
        </label>
        {# bg photo #}
        <label class="inputs_cont">
                <div class="show_imgs_button" onclick="user_imgs.open_form();"><i class="fa fa-picture-o" aria-hidden="true"></i><font>менеджер изображений</font></div>
                <span>Изображение на фон<font class="required">*</font></span>
                <input type="text" formdata="bg_img" data-required="required" value="{% if data.settings.bg_img %}{{ data.settings.bg_img }}{% endif %}">
        </label>
        {# post body #}
        <label class="inputs_cont">
                {#<div class="show_imgs_button" onclick="user_imgs.open_form();"><i class="fa fa-picture-o" aria-hidden="true"></i><font>менеджер изображений</font></div>#}
                <span>О себе</span>
                <textarea formdata="descr" class="post_content">
                        {% if data.settings.descr %} {{ data.settings.descr }} {% endif %}
                </textarea>
        </label>
</div>
<button onclick="users.save(this);">Сохранить</button>