<button onclick="users.open_form();">Добавить</button>
{% if categories and categories|length > 0 %}
        <table class="datalist">
                <thead>
                        <tr>
                                <td>#</td>
                                <td>Логин</td>
                                <td>Имя</td>
                                <td>Email</td>
                                <td>&nbsp;</td>
                        </tr>
                </thead>
                <tbody>
                        {% for curr in categories %}
                                <tr>
                                        <td>{{ curr.id }}</td>
                                        <td>{{ curr.login }}</td>
                                        <td>{{ curr.settings.name }}</td>
                                        <td>{{ curr.settings.email }}</td>
                                        <td style="text-align: right;">
                                                {#<i class="fa fa-eye"></i>#}
                                                <i class="fa fa-edit" onclick="users.open_form('{{ curr.id }}');"></i>
                                                <i class="fa fa-trash" onclick="users.drop('{{ curr.id }}');"></i>
                                        </td>
                                </tr>
                        {% endfor %}
                </tbody>
        </table>
{% else %}
        <h4>Тут пока пусто...</h4>
{% endif %}