{% extends "base.twig" %}

{% block title %}{{ data.name }}{% endblock %}

{% block container %}
        {% include 'header.twig' %}
        <div class="blog_view_header" style="background-image: url(/userimgs/{{ data.main_img }});">
                <div class="bvh_shadow"></div>
                <div class="bvh_data">
                        <div class="cont">
                                <div class="bvh_userphoto" style="background-image: url(/userimgs/{{ data.userdata.settings.photo }});"></div>
                                <span class="bvh_username"><a href="/blog/{{ data.userdata.id }}">{{ data.userdata.settings.name }}</a></span>
                                <div class="bvh_user_nav">
                                        <a href="/blog/{{ data.userdata.id }}#about">О себе</a>
                                        <a href="/blog/{{ data.userdata.id }}#new">Новое в блоге</a>
                                        <a href="/blog/{{ data.userdata.id }}#all">Все записи</a>
                                </div>
                        </div>
                </div>
        </div>
        <div class="cont">
                <h2>{{ data.name }}</h2>
                <div class="post_view_container">
                        {{ data.main_content|raw }}
                </div>
                {% include 'blog/comment_add_form.twig' %}
        </div>
{% endblock %}

{% block styles %}
        {#<link href='/css/blog/main.css' rel='stylesheet' type='text/css'>#}
{% endblock %}
{% block scripts %}
        <script async type="text/javascript" src="/js/main.js"></script>
{% endblock %}