{% extends "base.twig" %}

{% block title %}{{ data.name }}{% endblock %}

{% block container %}
    {% include 'header.twig' %}
    <div class="blog_view_header" style="background-image: url(/userimgs/{{ data.settings.bg_img }});">
        <div class="bvh_shadow"></div>
        <div class="bvh_data">
            <div class="cont">
                <div class="bvh_userphoto" style="background-image: url(/userimgs/{{ data.settings.photo }});"></div>
                <span class="bvh_username"><a>{{ data.settings.name }}</a></span>
                <div class="bvh_user_nav">
                    <a class="active">О себе</a>
                    <a href="/blog/{{ data.id }}/posts">Записи в блоге</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cont">
        <div class="user_about">
            <h2>О себе</h2>
            <div class="user_about_info">
                {{ data.settings.descr|raw }}
            </div>
        </div>
        <div class="user_new"></div>
        <div class="user_posts"></div>
    </div>
{% endblock %}

{% block styles %}
    {#<link href='/css/blog/main.css' rel='stylesheet' type='text/css'>#}
{% endblock %}
{% block scripts %}
    <script async type="text/javascript" src="/js/main.js"></script>
{% endblock %}