<div class="main nav_content_block active">
        <h4>Контакты<span onclick="main_data.save();">сохранить</span></h4>
        <div class="inputs_cont">
                <span>e-mail</span>
                <input type="text" main_data="contacts_email" value="{{ data.contacts.email }}">
        </div>
        <div class="inputs_cont">
                <span>whatsApp</span>
                <input type="text" main_data="contacts_whatsApp" value="{{ data.contacts.whatsApp }}">
        </div>
        <div class="inputs_cont">
                <span>instagram</span>
                <input type="text" main_data="contacts_instagram" value="{{ data.contacts.instagram }}">
        </div>

        <h4>Ссылки<span onclick="main_data.save();">сохранить</span></h4>
        <div class="inputs_cont">
                <span>instagram</span>
                <input type="text" main_data="links_instagram" value="{{ data.links.instagram }}">
        </div>
        <div class="inputs_cont">
                <span>twitter</span>
                <input type="text" main_data="links_twitter" value="{{ data.links.twitter }}">
        </div>
        <div class="inputs_cont">
                <span>youtube</span>
                <input type="text" main_data="links_youtube" value="{{ data.links.youtube }}">
        </div>
</div>

<div class="photo nav_content_block">
        <div class="buttons_cont">
                <button type="button" onclick="file_img.drop_init(this.parentNode);" drop_photo="open">Выбрать фото для удаления</button>
                <button type="button" onclick="file_img.drop_cancel(this.parentNode);" drop_photo="cancel" style="display: none;">Отмена</button>
                <button type="button" onclick="file_img.drop_send(this.parentNode);" drop_photo="drop" style="display: none;">Удалить</button>
        </div>
        <div class="add_photo"></div>
        <h4>Добавленные сейчас фото</h4>
        <div class="imgs_elem_cont uploaded_photo_preview">
        </div>
        <h4>Загруженные фото</h4>
        <div class="imgs_elem_cont">
                {% set counter = 0 %}
                {% for img in imgs if counter < 5 %}
                        <div class="img_elem_show" data-img="{{ img }}"></div>
                        {# {% set counter = counter + 1 %} #}
                {% endfor %}
        </div>
</div>

<div class="video nav_content_block">
        <div class="inputs_cont">
                <span>Добавить видео</span>
                <input type="text" video_data="video_link" oninput="video.check_video_url(this);">
                <font class="add_elem_button" onclick="video.save();"><i class="fa fa-plus" aria-hidden="true"></i></font>
        </div>
        <h4>Добавленные видео</h4>
        <div class="video_cont">
                {% for curr_video in data.video %}
                        <div><iframe width="100%" height="100%" src="{{ curr_video }}" frameborder="0" allowfullscreen></iframe></div>
                                {% endfor %}
        </div>
</div>

<div class="blog nav_content_block">
        <button class="add_button" onclick="blog.create_open();">Добавить</button>
        <h4>Записи в блоге</h4>
        <div class="blog_added_block">
        </div>
</div>

<div class="groups nav_content_block">
        <button class="add_button" onclick="groups.create_open();">Добавить</button>
        <h4>Группы фото</h4>
        <div class="groups_added_block">
        </div>
</div>