<div class="modal_close_but">+</div>
<div class="modal_header">Пользовательские изображения</div>
<div class="modal_inputs">
</div>
<div class="buttons_cont">
        <button type="button" onclick="file_img.drop_init(this.parentNode);" drop_photo="open" style="display: inline-block;">Выбрать фото для удаления</button>
        <button type="button" onclick="file_img.drop_cancel(this.parentNode);" drop_photo="cancel" style="display: none;">Отмена</button>
        <button type="button" onclick="file_img.drop_send(this.parentNode);" drop_photo="drop" style="display: none;">Удалить</button>
</div>
{# photolist #}
<div formelem="photolist"></div>
<h4>Добавленные сейчас фото</h4>
<div class="imgs_elem_cont uploaded_photo_preview">
</div>
<h4>Загруженные фото</h4>
<div class="imgs_elem_cont">
        {% for key, img in imgs %}
                {#<img src="{{ img_path }}{{ key }}_480.{{ img.type }}" alt="" />#}
                <div class="img_elem_show" data-img="{{ img.url }}">
                        <div>
                                <font>URL изобр.:</font>
                                <span onclick="selectText(this);">/userimgs/{{ img.url }}</span>
                        </div>
                </div>
        {% endfor %}
</div>
{#<button onclick="users.save(this);">Сохранить</button>#}